.contact{
    margin-top: 100px;
    height:70vh
}
.contact-container {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.contact-container div{
    height: 100px;
    display: flex;
}

.contact-container .link-social {
    margin: 10px
}

.contact-container .link-social:hover{
    /* background: -webkit-linear-gradient(20deg,#ff8a00,#e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    transform: translate( 0 , -0.3rem);
    filter: drop-shadow(0 0.3rem 0.3rem #eeeae6);
    transform: scale(1.20,1.20);
}

@media screen and (max-width: 640px){
    .contact{
        margin-top: 150px;
    }
    .contact-container .link-social{
        margin: 0;
        padding: 10px;
    }
    .contact-container div{
        height: 70px;
    }
    
}