

.container .img-main{
    margin-top: 50px;
    border-radius: 50%;
    filter: grayscale(100%);
}
.container .img-main:hover{
    filter: grayscale(0%);
    transform: scale(1.10, 1.10);
}
.container .img-main-min{
    margin-top: 50px;
    border-radius: 50%;
    filter: grayscale(100%);
}
.container .img-main-min:hover{
    filter: grayscale(0%);
    transform: scale(1.10, 1.10);
}

.container section{
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top : 2px solid#ff5e00;
    border-bottom : 2px solid #ff5e00;
    text-align: center;
}

.firm {
    position: absolute;
    right: 30px;
    bottom: 0px;

}
.text {
    font-family:  monospace;
    color: wheat;
    font-size: 150%;
    padding-left: 20px;
    padding-right: 20px;
}
.text{
    padding-bottom: 20px;
}

@media screen and (max-width: 640px){
    .container .img-main{
        filter: grayscale(0);
    }
    .container .img-main:hover{
        transform: scale(1, 1);
    }
    .text {
        font-size: 120%;
    }
    .container section{
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
       
    }
}

@media screen and (max-height: 500px) {
    
    .container .img-main{
        /* display: none; */
        width: 100px;
        height: auto;
        margin-top: 90px;
    }
}
