

.container img{
    border-radius: 50%;
    filter: grayscale(100%);
}
.container img:hover{
    filter: grayscale(0%);
    transform: scale(1.10, 1.10);
}

.container section{
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top : 2px solid transparent;
    border-bottom : 2px solid transparent;
    border-image : linear-gradient(90deg,#ff8a00,#e52e71) 2;
    text-align: center;
}

.firm {
    position: absolute;
    right: 30px;
    bottom: 0px;

}
.text {
    color: wheat;
    font-size: 150%;
}

@media screen and (max-width: 640px){
    .container img{
        filter: grayscale(0);
    }
    .container img:hover{
        transform: scale(1, 1);
    }
    .text {
        font-size: 120%;
    }
}
